<div class="row">
   <div class="col-md-8">
     <div class="media">
       <% if @user.avatar? %>
         <div class="media-left">
           <%= image_tag @user.avatar.url, class: 'media-object' %>
         </div>
       <% end %>
     </div>
   </div>
</div>
