<div class="row">
   <div class="col-md-8">
     <div class="media">
       <%= @items.count %>
       <% @items.each do |item| %>
        <p> <%= item.type %> for <%= item.duration %> seconds </p>
       <% end %>
     </div>
   </div>
</div>
