
<div class="jumbotron">
  <h1>Health Tracker</h1>
  <p>The most automated advanced calorie counter and nutrition tracker on the market!</p>
  <p>
    <%= link_to "Sign Up", edit_user_registration_path, class: 'btn btn-primary',
    data: {toggle: "modal", target: "#myModal"} %>

    <div class="modal fade" id="myModal" role="dialog" >
      <div class="modal-dialog">
          <div class="modal-content">
            <p>
              testing
              <%= form_for(:user, url: user_session_path) do |f| %>
              <% end %>
             </p>
          </div> <!-- /.modal-content -->
      </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
​ or















      <%= link_to "Sign Up", class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>
