<br>
<div class="jumbotron">
  <h1>Vigor</h1>
  <p>The data of life.</p>
  <p>

    <%= link_to "Sign Up", "users/sign_up", class: 'btn btn-primary'%> or
    <%= link_to "Sign In", "users/sign_in", class: 'btn btn-primary' %> today!

  </p>
</div>
